.card{
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 10px;
    width: 250px;
    height: 220px;
    background: rgba(183, 180, 180, 0.278);
    border-radius: 5px;
    border: solid rgba(0, 255, 85, 0.758) 2px;
    transition: all 0.25s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.flag{
    width: 150px;
    height: 80px;
}